/*place global styles here */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html,
body {
	@apply h-full overflow-hidden;
}

:root {
    --theme-font-family-base: 'Roboto', sans-serif;
    --theme-font-family-heading: 'Roboto', sans-serif;
    /* ... */
}